# Replace the env in the file name and remove the .sample suffix (i.e. dev.tfvars, prod.tfvars)
dynamodb_table_name = "your dynamodb table"
s3_input_bucket_name = "your s3 input bucket name"
s3_output_bucket_name = "your s3 output bucket name"
env = "dev or prod"
